@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
body {
  /* background-color: #101222; */
  background-color: #101011 !important;
  color: white !important;
}
.gradient-opacity {
  background: radial-gradient(
    circle closest-side,
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0)
  );
  border-radius: 50%;
}
.about-opacity {
  background: radial-gradient(
    circle closest-side,
    rgba(182, 186, 254, 0.2),
    rgba(16, 18, 34, 0.5)
  );
  border-radius: 50%;
}

@keyframes rotateClockwise {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes rotateAnticlockwise {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

@keyframes expand {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.5);
  }
}

@keyframes shrink {
  from {
    transform: scale(1.5);
  }
  to {
    transform: scale(1);
  }
}

.key-opacity {
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(255, 2555, 255, 0) 70%
  );
}

@media screen and (max-width: 1600px) {
  .gradient-opacity {
    border-radius: 100%;
  }
}
@media screen and (max-width: 1024px) {
  .gradient-opacity {
    border-radius: 100%;
  }
}

.radial-gradient {
  background: radial-gradient(
    circle at center,
    rgb(255, 253, 253) 0%,
    rgb(255, 255, 255) 50%,
    gray 60%,
    rgb(0, 0, 0) 120%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.border {
  position: relative;
  border: 2px solid transparent;
  color: #fff;
  background: #101011;
  background-clip: padding-box;
  border-radius: 100px;
}

.border::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -2px;
  border-radius: inherit;
  background: linear-gradient(to bottom, #101011 80%, #3e3e3f);
}
.border_about {
  position: relative;
  border: 2px solid transparent;
  color: #fff;
  background: #101011;
  background-clip: padding-box;
  border-radius: 100px;
}

.border_about::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -2px;
  border-radius: inherit;
  background: linear-gradient(to top, #101011 80%, #646464);
}
.text-gradient {
  background: linear-gradient(to bottom, #ff5800, #101222);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.timer {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 6px;
}
.send::placeholder,
.amount::placeholder {
  font-size: 1.2em;
  color: #999;
}
.slick-slide {
  padding: 0 10px;
  box-sizing: border-box;
}
.slick-prev,
.slick-next {
  font-size: 44px !important; /* Increase arrow size */
  width: 100px; /* Increase button width */
  height: 100px; /* Increase button height */
  background-color: rgba(
    255,
    255,
    255,
    0.5
  ); /* Optional: Change background color */
  border-radius: 50%; /* Optional: Make buttons round */
  z-index: 1; /* Ensure buttons are on top */
  border: 1px solid red;
}

.slick-prev:before,
.slick-next:before {
  font-size: 44px; /* Increase arrow icon size */
  color: #ff5800; /* Arrow color */
}
/* animations.css */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 1s ease-in-out;
}
/* HTML: <div class="triangle"></div> */
