@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
body {
  background-color: #101222;
  color: white;
}
.gradient-opacity {
  background: radial-gradient(
    circle closest-side,
    rgba(182, 186, 254, 0.5),
    rgba(16, 18, 34, 0.5)
  );
  border-radius: 50%;
}
.about-opacity {
  background: radial-gradient(
    circle closest-side,
    rgba(182, 186, 254, 0.2),
    rgba(16, 18, 34, 0.5)
  );
  border-radius: 50%;
}

@keyframes rotateClockwise {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes rotateAnticlockwise {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

@keyframes expand {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.5);
  }
}

@keyframes shrink {
  from {
    transform: scale(1.5);
  }
  to {
    transform: scale(1);
  }
}

.key-opacity {
  background: radial-gradient(
    circle,
    rgba(182, 186, 254, 0.5) 0%,
    rgba(16, 18, 34, 0) 70%
  );
}

@media screen and (max-width: 1600px) {
  .gradient-opacity {
    border-radius: 100%;
  }
}
@media screen and (max-width: 1024px) {
  .gradient-opacity {
    border-radius: 100%;
  }
}

.radial-gradient {
  background: radial-gradient(
    circle at center,
    rgb(255, 253, 253) 0%,
    rgb(255, 255, 255) 50%,
    gray 60%,
    rgb(0, 0, 0) 120%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.border {
  position: relative;
  border: 2px solid transparent;
  color: #fff;
  background: #101222;
  background-clip: padding-box;
  border-radius: 100px;
}

.border::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -2px;
  border-radius: inherit;
  background: linear-gradient(to bottom, #101222 80%, #b6bafe);
}
.border_about {
  position: relative;
  border: 2px solid transparent;
  color: #fff;
  background: #101222;
  background-clip: padding-box;
  border-radius: 100px;
}

.border_about::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -2px;
  border-radius: inherit;
  background: linear-gradient(to top, #101222 80%, #b6bafe);
}
.text-gradient {
  background: linear-gradient(to bottom, #7a7fd5, #101222);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
